*{
    margin: 0;
    padding: 0;
}
body {
    background-image:url(../images/1.jpg);
    background-size: cover;
}
.containr
{
        width: 600px;
        height: 500px;
        background-color:  rgba(0, 0, 0, 0.7); 
        border-radius: 5px;
        position: relative;
        margin: 8% auto;
        color: white;
        /* align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vh; */
}
h2{
    text-align: center;
    color: rgb(118, 113, 113);
    /* margin-bottom: 50px;
    margin-top: 50px; */
}
h3{
    color: grey;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
textarea {
    background: linear-gradient(to right, #eaa6cb, #b8a9b4);
    /* margin: 1.5rem; */
    margin-left: 160px;
    padding: 10px;
    border: none;
    outline: none;
    color: white;
  }
  .top{
   margin-left: 150px ;
   margin-bottom: 10px;

  }
  .bottom{
    margin-left: 140px ;
    margin-top: 10px;
 
   }

   button {
    margin: 2px;
    padding: 5px 15px 7px 15px;
    color: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
    border-radius: 15px;
    transition: 0.1s;
    background: linear-gradient(to right, #ce1779, #a7835b);
  }
  button:hover {
    transform: scale(1.08);
  }
  .bottomDiv {
    position: fixed;
    bottom: -10px;
    display: flex;
    margin-left: 45%;
    flex-direction: column;
    justify-content: center;
  }
  #quickGuide {
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  #quickGuide:hover {
    transform: scale(1);
  }
  
  .guideText {
    margin: 5px 0 0 0;
    flex-direction: column;
    justify-content: left;
  }
  
  #quickGuideText {
    transform: translateY(-5px);
    color: rgba(255, 255, 255, 1);
    padding: 5px 15px 7px 15px;
    background: linear-gradient(to right, #ce1779, #a7835b);
  }
  
  .guideText p {
    margin: 5px 0;
    text-align: left;
    width: 40vw;
  }
  
  @media (max-width: 700px) {
    div {
      width: 90vw;
    }
    .guideText p {
      width: 85vw;
    }
  }